*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./IMGG/pexels-james-wheeler-417074.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    height: 100vh;

}
.main{
width: 860px;
margin: 0 auto;
background-color: rgb(143, 143, 146);
}
 .main ul {
     list-style-type: none;
     margin-top: 2%;

 }
 .main ul li{
     background: #665757;
     width: 170px;
     border: 1px solid #fff;
     height: 50px;
     line-height: 50px;
     text-align: center;
     color: #fff;
     font-size: 14px;
     position: relative;
     float: left;
     
 }
 .main ul li:hover {
     background: rgb(60, 168, 182);

 }
 .main ul ul{
     display: none;
 }
 .main ul li:hover > ul{
     display: block;

 }
 .main ul ul ul {
     margin-left: 170px;
     top: 0px;
     position: absolute;
 }
 